@media (max-width:768px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    .top{
        display: none;
    }
    .top-mob {
        height: 735px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:32px;
        background-image: url(./img/top-mob_img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &__heading{
            color: #FFF;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-top: 238px;
            text-align: center;
            padding-top: 238px;
        }
        &__text{
            color: #FFF;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px;
            text-align:center;
        }
        &__button{
            width: 234px;
            height: 48px;
            border-radius: 30px;
            background-color: #9C0332;
            outline: none;
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            box-sizing: border-box;
            
            

        }
    }
    .content{
        grid-template-rows: repeat(3, 1fr);
        row-gap: 32px;
        justify-content: center;
        grid-template-columns: none;
        height: 900px;
        &__item{
            min-width: 343px;
        }
        
    .content__item_img{
        max-width: 343px;   
              
    }
    }
    .section{
        display: none;
    }
    .section-mob{
        background-color: #000915;
        display: flex;
        flex-direction: column;
        gap: 64px;
        padding-top: 51px;
        padding-bottom:85px;
        text-align: center;
        
        &__content{
            display: flex;
            flex-direction: column;
            gap: 32px;
            flex-wrap: wrap;
            align-items: center;
            
            &_heading{
                color: #FFF;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                
            }
            &_text{
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 22px;
            }
            &_button{
                width: 234px;
                height: 48px;
                border-radius: 30px;
                background-color: #9C0332;
                outline: none;
                color: #FFF;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                box-sizing: border-box;
                
            }
        }
    }
}