*{
    margin: 0;
    padding: 0
}
.a {
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top{
    height: 1024px;
    background-image: url(./img/top_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.top__heading{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 217px;
    margin-left: 120px;    
}
.top__text{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 44px;
    margin-left: 120px;
}
.top__button{
    width: 234px;
    height: 48px;
    border-radius: 30px;
    background-color: #9C0332;
    outline: none;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
    margin-left: 120px;
}
.content{
    background-color: #000915;
    height:556px;
}
.content__menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
    justify-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}
