*{
    margin: 0;
    padding: 0
}
.a {
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top{
    height: 1024px;
    background-image: url(./img/top_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__heading{
        color: #FFF;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 217px;
    }
    &__text{
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        margin-top: 32px;
        margin-bottom: 44px;
        &_active{
            font-weight: bold;
        }
    }
    &__button{
        width: 234px;
        height: 48px;
        border-radius: 30px;
        background-color: #9C0332;
        outline: none;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        box-sizing: border-box;
        

    }
}
.top-mob{
    display: none;
}
.content{
    background-color: #000915;
    padding-top: 128px;
    padding-bottom: 128px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
    height: 300px;
    &__item_img{
        position: absolute;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    }
    &__item_name{
        position: relative;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        left: 32px;
        top: 236px;
    }
}
.section{
    background-color: #000915;
    height: 800px;
    display: flex;
    gap: 135px;
    padding-top: 282px;
    
    &__content{
        display: flex;
        flex-direction: column;
        gap: 32px;
        
        &_heading{
            color: #FFF;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        &_text{
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px;
        }
        &_button{
            width: 234px;
            height: 48px;
            border-radius: 30px;
            background-color: #9C0332;
            outline: none;
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            box-sizing: border-box;
        }
    }

}

@import'tablet';
@import'mobile';

